.layout {
    &--default {
        .page {
            &--home-page {
                .section {
                    &--listing {
                        width: 100%;
                        max-width: 1100px;
                        margin: 0 auto;
                        padding: 0 10%;

                        @include media-lt-750 {
                            padding: 0 6%;
                        }

                        // Title
                        .titles {
                            display: grid;
                            grid-template-columns: repeat(3, 33.333%);
                            align-items: center;
                            position: sticky;
                            top: 10px;
                            background: $primaryColorLighter;
                            padding: 12px 14px;
                            border-radius: 8px;
                            box-shadow: 0 4px 8px rgba($black, .1);
                            z-index: 9;

                            &__element {
                                color: $primaryColor;
                                font-weight: 500;
                                font-variation-settings: 'wght' 500;

                                &:first-child {
                                    grid-column: span 2;
                                }

                                &:last-child {
                                    grid-column: span 1;
                                }
                            }
                        }

                        // List
                        .list {
                            &__item {
                                @include transition(all .26s ease);
                                display: grid;
                                grid-template-columns: repeat(3, 33.333%);
                                align-items: center;
                                position: relative;
                                margin: 4px 0;
                                padding: 12px 14px;

                                &:not(:last-child) {
                                    &::after {
                                        content: '';
                                        position: absolute;
                                        bottom: -2px;
                                        right: 0;
                                        left: 0;
                                        border-bottom: 1px solid $greyColorLighter;
                                    }
                                }

                                .item__text {
                                    grid-column: span 2;
                                }

                                .item__action {
                                    grid-column: span 1;
                                }

                                &:hover {
                                    background: rgba($primaryColor, .06);
                                }
                            }
                        }

                        // Modal
                        .modal {
                            &__content {
                                .content__body {
                                    .details {
                                        display: grid;
                                        grid-row-gap: 10px;

                                        &__item {
                                            display: grid;
                                            grid-template-columns: 40% 60%;
                                            color: $greyColor;

                                            &::before {
                                                content: attr(data-title);
                                                font-weight: 600;
                                                font-variation-settings: 'wght' 500;
                                                color: $black;
                                            }

                                            &:not(:last-child) {
                                                padding: 0 0 10px;
                                                border-bottom: 1px solid $greyColorLighter;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
