.dropdown {
    width: 100%;
    display: inline-block;
    position: relative;

    &::before,
    &::after {
        content: "";
        width: 1px;
        height: 10px;
        position: absolute;
        top: 50%;
        right: 26px;
        background: $greyColorLight;
        transition: all .35s ease;
    }

    &::before {
        transform: translate(7px, -50%) rotate(45deg);
    }

    &::after {
        transform: translate(0, -50%) rotate(-45deg);
    }

    &__value {
        @include transition(all .25s ease);
        width: 100%;
        padding: 10px 20px;
        background: $white;
        border: 1px solid $greyColorLighter;
        border-radius: 12px;
        line-height: 1.6;
        color: $black;
        font-size: 14px;
        font-weight: 500;
        font-variation-settings: 'wght' 500;
        box-shadow: none;
        outline: none;
    
        @include media-lt-750 {
            padding: 6px 12px;
            font-size: 12px;
        }
        
        &::placeholder {
            opacity: .4;
            font-variation-settings: 'wght' 400;
            font-weight: 400;
            letter-spacing: .6px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__menu {
        @include transform(translateY(10px));
        @include transition(all .25s ease);
        width: 100%;
        display: grid;
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
        margin: 0;
        padding: 12px 16px;
        background: $white;
        border-radius: 12px;
        list-style: none;
        z-index: 999;
        box-shadow: 0 3px 6px rgba($black, .16);
        opacity: 0;
        pointer-events: none;

        &.menu--active {
            opacity: 1;
            transform: none;
            pointer-events: all;
        }

        .menu__item {
            @include transition(all .25s ease);
            padding: 8px 12px;
            border-radius: 8px;

            &:hover {
                cursor: pointer;
                background: rgba($primaryColor, .1);
                color: $primaryColor;
            }
        }
    }

    &:hover {
        &::before,
        &::after {
            background: $primaryColor;
        }

        .dropdown__value {
            color: $primaryColor;
        }
    }

    &--active {
        &::before {
            transform: translate(7px, -50%) rotate(-45deg);
        }

        &::after {
            transform: translate(0, -50%) rotate(45deg);
        }
    }
}