.link {
    display: inline-block;

    &__inner {
        @include transition(all .24s ease);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: none;
        color: $primaryColor;
        font-size: 14px;
        z-index: 2;

        &::before {
            @include transform(translateX(-50%));
            @include transition(all .24s ease);
            content: '';
            width: 0;
            height: 6px;
            position: absolute;
            bottom: 0;
            left: 50%;
            background: $primaryColor;
            opacity: .2;
            z-index: -1;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-left: 8px;

        *[stroke] {
            stroke: $primaryColor;
        }
    }

    &--icon-left {
        .link__inner {
            flex-direction: row-reverse;
        }

        .link__icon {
            margin-right: 8px;
            margin-left: 0px;
        }
    }

    &:hover {
        cursor: pointer;

        .link__inner {
            color: $secondaryColor;

            &::before {
                width: 110%;
                background: $secondaryColor;
            }
        }

        .link__icon {
            *[stroke] {
                stroke: $secondaryColor;
            }
        }
    }
}
