.link {
    display: inline-block;

    // Children
    &__inner {
        @include transition(all .24s ease);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: none;
        color: $black;
        font-size: 14px;
        z-index: 2;
    }

    &__icon {
        @include transform(translateY(-50%));
        @include transition(all .24s ease);
        width: 22px;
        height: 22px;
        position: absolute;
        top: 50%;
        right: 8px;
        display: inline-block;

        .icon__inner {
            width: 100%;
            height: 100%;
        }

        *[stroke] {
            @include transition(all .24s ease);
            stroke: $primaryColor;
            stroke-width: 2px;
        }
    }

    // Layouts
    &:not(.link--icon) {
        .link__inner {
            &::before {
                @include transition(all .24s ease);
                content: '';
                width: 0;
                height: 1px;
                position: absolute;
                bottom: -2px;
                left: 0;
                background: $primaryColor;
                opacity: .4;
            }
        }
    }

    &--icon {
        .link__inner {
            display: flex;
            align-items: center;

            &::after {
                @include transition(all .24s ease);
                content: '';
                width: 20px;
                height: 20px;
                margin: 0 0 0 14px;
                border: 2px solid $primaryColor;
                border-radius: 50%;
            }
        }
    }

    &:hover {
        cursor: pointer;

        .link__inner {
            color: $primaryColor;

            &::before {
                width: 100%;
                background: $primaryColor;
            }

            &::after {
                @include transform(scale(.8));
            }
        }

        .link__icon {
            right: -8px;

            *[stroke] {
                stroke: $primaryColor;
            }
        }
    }
}
