.toggle {
    display: flex;
    position: relative;
    background: $white;
    border: 1px solid $greyColorLighter;
    border-radius: 12px;
    z-index: 2;

    &__background {
        @include transition(all .25s ease);
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background: $black;
        border-radius: 12px;

        &::before,
        &::after {
            @include transition(all .25s ease);
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            border-radius: 12px;
            z-index: -1;
        }

        &::before {
            right: 0;
            left: -30px;
            background: $dangerColor;
        }

        &::after {
            right: -30px;
            left: 0;
            background: $successColor;
        }
    }

    &__selection {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 10px 20px;
        z-index: 2;

        &::before {
            @include transition(all .25s ease);
            content: '';
            width: 4px;
            height: 0;
            position: absolute;
            top: 50%;
            border-radius: 4px;
        }

        .selection__label {
            @include transition(all .25s ease);
            color: $greyColor;
        }

        &.selection--left {
            &::before {
                @include transform(translate(10px, -50%));
                left: 4px;
                background: $dangerColor;
            }
        }
        &.selection--right {
            &::before {
                @include transform(translate(-10px, -50%));
                right: 4px;
                background: $successColor;
            }
        }

        &.selection--active {
            pointer-events: none;

            &::before {
                @include transform(translate(0, -50%));
                height: 20px;
            }

            .selection__label {
                color: $white;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__value {
        display: none;
    }

    &.toggle--left {
        .toggle__background {
            &::before {
                right: 0;
                left: -30px;
            }
    
            &::after {
                right: 0;
                left: 0;
                background: $successColor;
            }

            &:not(.background--expand) {
                right: 50%;
                left: 0;

                &::before {
                    right: 0;
                    left: 0;
                }
        
                &::after {
                    right: -2px;
                    left: 0;
                }
            }
        }
    }
    &.toggle--right {
        .toggle__background {
            &::before {
                right: 0;
                left: 0;
            }
    
            &::after {
                right: -30px;
                left: 0;
                background: $successColor;
            }

            &:not(.background--expand) {
                right: 0;
                left: 50%;

                &::before {
                    right: 0;
                    left: -2px;
                }
        
                &::after {
                    right: 0;
                    left: 0;
                }
            }
        }
    }
}
